@media screen and (max-width: 425px) {
  .learn_fun {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .store {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* .store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
} */
