@media screen and (min-width: 660px) and (max-width: 767px) {
  .overview {
    width: 650px;
  }
  .flowing {
    width: 550px;
  }
}

/* @media screen and (max-width: 425px) {
  .overview {
    width: 100%;
    padding: 0 12px;
  }
} */
