@media screen and (min-width: 768px) and (max-width: 1075px) {
  .change_width {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 499px) {
  .change_width {
    width: 320px;
  }
}

@media screen and (min-width: 654px) and (max-width: 1074px) {
  .change_size {
    width: 490px;
    height: 290px;
  }
}
